subject = "Loan Application Submitted"
==
<p>A new loan application has been made. Please see the details below</p>
<table style="width:60%; border-collapse:collapse; ">
    <tr>
        <td>Loan Identification Number</td>
        <td>{{ id }}</td>
    </tr>
    <tr>
        <td>Loan Product</td>
        <td>{{ loan_product }}</td>
    </tr>
    <tr>
        <td>Loan Amount</td>
        <td>{{ loan_amount }}</td>
    </tr>
    <tr>
        <td>Tenure</td>
        <td>{{ tenure }}</td>
    </tr>
    <tr>
        <td>Monthly Installment</td>
        <td>{{ monthly_installment }}</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>{{ first_name }}</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>{{ surname }}</td>
    </tr>
    
    <tr>
        <td>Loan Product</td>
        <td>{{ loan_product }}</td>
    </tr>
    
    <tr>
        <td>Nationality</td>
        <td>{{ nationality }}</td>
    </tr>
    <tr>
        <td>ID Number</td>
        <td>{{ id_number }}</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>{{ gender }}</td>
    </tr>
    <tr>
        <td>Date of Birth</td>
        <td>{{ date_of_birth }}</td>
    </tr>
    <tr>
        <td>Profession</td>
        <td>{{ profession }}</td>
    </tr>
    <tr>
        <td>Employment Status</td>
        <td>{{ employment_status }}</td>
    </tr>
    <tr>
        <td>Employment Period</td>
        <td>{{ employment_period }}</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>{{ email }}</td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td>{{ mobile }}</td>
    </tr>
    <tr>
        <td>Property No</td>
        <td>{{ property_no }}</td>
    </tr>
    <tr>
        <td>Street Name</td>
        <td>{{ street_name }}</td>
    </tr>
    <tr>
        <td>Residential Area</td>
        <td>{{ residential_area }}</td>
    </tr>
    <tr>
        <td>Guarantor Name</td>
        <td>{{ guarantor_name }}</td>
    </tr>
    <tr>
        <td>Guarantor Customer No</td>
        <td>{{ guarantor_customer_no }}</td>
    </tr>
    <tr>
        <td>Next of Kin Name</td>
        <td>{{ next_of_kin_name }}</td>
    </tr>
    <tr>
        <td>Next of Kin NRC</td>
        <td>{{ next_of_kin_nrc }}</td>
    </tr>
    <tr>
        <td>Next of Kin Email</td>
        <td>{{ next_of_kin_email }}</td>
    </tr>
    <tr>
        <td>Next of Kin Mobile</td>
        <td>{{ next_of_kin_mobile }}</td>
    </tr>
    <tr>
        <td>Relationship To Next of Kin</td>
        <td>{{ relationship_to_next_of_kin }}</td>
    </tr>
</table>
